.header-user-pfp-container {
  outline: 1.5px solid rgb(205, 205, 205);
}

.pop-up-on-pfp {
  animation-name: slideIn;
  animation-duration: 0.17s;
  animation-fill-mode: forwards;
  top: 103px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.5);
  -moz-box-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.5);
  box-shadow: 0px 2px 5px 1px rgba(34, 60, 80, 0.5);
}

@keyframes slideIn {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
